:root {
    --main: #F1F3F4;
    --second: #C264FE;
    --third: #A82FFC;
    --contrast: #7A08FA;
}

body {
    overflow-x: hidden;
    min-width: 98vw;
    min-height: 98vh;
    background-color: var(--main);
    margin: 0;
}

header {
    width: 99vw;
}
nav {
    width: 99vw;
    background-color: var(--contrast);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

nav > * {
    margin-left: 1em;
    margin-right: .5em;
}

#header_inter {
    display: flex;
    flex-direction: row;
}

button {
    color: var(--main);
    background-color: transparent;
    border-style: none;
    padding: 2em 1em;
}

button:hover {
    transition-property: background-color, box-shadow;
    transition-duration: 500ms;
    box-shadow: 0 0 1em var(--second) inset;
}

input {
    height: 1.5em;
    align-self: center;
    background-color: var(--main);
    border-style: none;
    margin-left: 2em;
}

input::placeholder {
    color: var(--third);    
}

input:hover,
input:focus {
    outline-style: none;
}

section {
    /* overflow: hidden; */
    min-width: 99vw;
    min-height: 30vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 1em 0;
}

footer {
    background-color: var(--third);
    display: flex;
    flex-direction: row;
    margin: 1em 0 0 0;
}

#info_banner,
#popular,
#offers {
    overflow: hidden;
    min-width: 90vw;
    display: flex;
    flex-direction: row;
}

.offert {
    position: relative;
    min-width: 95vw;
    min-height: 30vh;
    background-color: var(--second);
    text-align: center;
}

.card_pp {
    position: relative;
    min-width: 22.5vw;
    margin: .5em;
    background-color: var(--third);
}

.card_off {
    position: relative;
    min-width: 22.5vw;
    margin: .5em;
    border-style: solid;
    border-color: var(--contrast);
    background-color: var(--main);
}

.br_button, 
.bl_button {
    height: 30vh;
    color: var(--contrast);
    background-color: var(--main);
}

.footer_sec {
    min-height: 5vh;
    min-width: 32vw;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    padding: 1em;
    margin: .5em 0;
}

@media (orientation: landscape) {
    section {
        min-height: 35vh;
    }
    .card {
        min-width: 15vw;
    }
}
