main {
	display: grid;
	place-items: center;
}

main>section:first-child {
	outline: solid red;
	min-width: 80vw;
	min-height: 12vh;
	display: grid;
	place-items: center;
}

#filters {
	max-width: 80vw;
	max-height: 12vh;
	height: 100%;
	color: var(--second);
	background-color: var(--contrast);
	border-radius: 1em;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
	row-gap: 1em;
}

#filters>div {
	margin: 0 auto;
}

select {
	color: var(--main);
	background-color: var(--bg);
	border-style: none;
	padding: .5em;
	border-radius: 1em;
}

select:hover,
select:focus {
	outline-style: none;
}

#products {
	min-width: 90vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 1em;
	padding: 1em 2em;
}

@media (orientation: landscape) {

	main>section:first-child,
	#filters {
		max-width: 50vw;
		max-height: 6vh;
	}
}