/* Light-blue Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #039be5;
  --primary-hover: #0288d1;
  --primary-focus: rgba(3, 155, 229, 0.125);
  --primary-inverse: #FFF;

  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General styles */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  min-height: 80px;
  resize: vertical;
}

.header,
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* Header */
.header {
  padding: 1em 0 0;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
}

.logo {
  width: 60px;
}

/* Main */
.entry-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.form {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.product-preview {
  margin: 0;
  padding: 0;
}

/* Footer */
.footer {
  align-items: flex-start;
  padding: 20px 0;
}

.footer section {
  flex: 1;
  margin-bottom: 0;
}